import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --cor-principal:#5f3aed;
    --cor-secudaria: #963586;
    --cor-texto: #336f79;
    --cor-de-fundo: #986352;
    --font: "Nunito Sans", sans-serif;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font);
}
.cabecalho{
  background-color: var(--cor-secudaria);
  text-align: center;
}
header{
  background-color: var(--cor-secundaria);
}
h1{
  font-size: ;
}
nav{
  display: flex;
  justify-content: center;
  font-weight: 400;
}